
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Tutorials</a>
    </div>
    <div>
      <ul class="nav navbar-nav">
        <li class="col-md-12"><a routerLink="./html">HTML</a></li>
        <li class="col-md-12"><a routerLink="./css">CSS</a></li>
        <li class="col-md-12"><a routerLink="./javascript">JavaScript</a></li>
        <li class="col-md-12"><a routerLink="./basiccss">Basic css</a></li>
        <li class="col-md-12"><a routerLink="./errorhandling">Error handling </a></li>
      </ul>
    </div>
  </div>
</nav>
