<mat-drawer-container>
  <mat-drawer mode="side" opened="true" class="side-nav">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div>
        <ul class="nav navbar-nav">
          <li class="col-md-12"><a routerLink="/one">Home One</a></li>
          <li class="col-md-12"><a routerLink="/two">Home Two</a></li>
          <li class="col-md-12"><a routerLink="/three">Home Three</a></li>
        </ul>
      </div>
    </div>
  </nav>
  </mat-drawer>
  <mat-drawer-content><router-outlet></router-outlet></mat-drawer-content>
  </mat-drawer-container>
